@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

:root {
    --orange: #D87D4A;
    --orange-pale: #fbaf85;
    --black: #101010;
    --grey: #f1f1f1;
    --grey-variant: #fafafa;
    --shadow-black: rgba(0,0,0,0.2);

    --rounded-sm: 8px;
}

.bg-black {
    background-color: var(--black);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-orange-pale {
    background-color: var(--orange-pale);
}

.bg-grey {
    background-color: var(--grey);
}

.text-black {
    color: var(--black);
}

.text-orange {
    color: var(--orange);
}

.text-orange-pale {
    color: var(--orange-pale)
}

.text-grey {
    color: var(--grey);
}

.text-grey-variant {
    color: var(--grey-variant);
}

.bg-grey-variant {
    background-color: var(--grey-variant);
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main {
    background-color: var(--black);
}

.main, .section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section {
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header.nav {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 0;
}

header.nav .nav-logo {
    color: var(--orange);
    font-size: 32px;
}

header.nav .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

header.nav .nav-links li a {
    text-decoration: none;
    color: var(--grey-variant);
    text-transform: uppercase;
    font-weight: 600;
}

header.nav .nav-links li a:hover {
    color: var(--orange-pale);
}

.avatar-img {
    width: 60px;
    object-fit: cover;
    margin-left: 48px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section div {
    flex: 1;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero-left .title {
    font-size: 55px;
    font-weight: 700;
}

.hero-left p {
    font-size: 16px;
    opacity: 0.8;
}

.above-title {
    font-weight: 200;
    margin-bottom: -24px;
    opacity: 0.5;
}

.cta {
    background-color: var(--orange);
    color: var(--grey);
    text-transform: uppercase;
    padding: 16px 24px;
    border: 1px solid transparent;
    cursor: pointer;
}

.cta:hover {
    background-color: var(--orange-pale);
    color: var(--grey-variant);
}

.hero-image-wrapper {
    overflow: hidden;
}

.hero-image-wrapper .hero-image {
    width: 100%;
    object-fit: cover;
    border-radius: var(--rounded-sm);
    margin: 0 auto;
    box-shadow: 0 0 50px 50px var(--black);    
}

.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 72px 0;
}

.products-section h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}



.products-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    padding: 72px 0;
}

.products-list .item {
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-sm);
    box-shadow: 0 3px 7px 1px var(--shadow-black);
    flex: 1;
    height: 400px;
    min-width: 300px;
}

.products-list .item .item-image-wrapper {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    height: 220px;
    flex-shrink: 0;
}

.products-list .item .item-image-wrapper .item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.products-list .item .item-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    height: 100%;
}

.products-list .item .item-content h2 {
    text-transform: capitalize;
}

.products-list .item .item-content p {
    color: var(--black);
    opacity: 0.8;
}

.products-list .item .item-content .item-cta-wrapper {
    margin-top: auto;
    flex-shrink: 1;
}

.item-btn {
    color: var(--orange);
    border: none;
    text-transform: capitalize;
    background-color: transparent;
    font-size: 18px;
    font-weight: 800;
}

.item-btn:hover {
    color: var(--orange-pale);
}